@import url(normalize.css);
@import url("general-sans.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family:"GeneralSans-Variable", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
